.hr-text {
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.hr-text .line {
	display: inline-block;
	width: 150px;
	border-top: 1px solid #ccc;
}

.hr-text .txt {
	color: #686868;
	vertical-align: middle;
}