<head th:fragment="common_header(title,links)">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:replace="${title}">Pop Up</title>

<!-- Bootstrap -->
<link th:href="@{/css/bootstrap.min.css}"
	href="../static/css/bootstrap.min.css" rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<!-- Customized css -->
<link th:href="@{/css/cust/components.css}"
	href="../static/css/cust/components.css" rel="stylesheet">

</head>