<nav th:fragment="navbar"
	class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#" th:href="@{/index}">Pop Up</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Home
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
			<li class="nav-item dropdown" th:if="${session.user}!=null"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" th:text="${session.user.username}">
					Dropdown </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#"
						th:href="@{'/users/'+${session.user.id}+'/profile'}">My
						profile</a> <a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" th:href="@{/logout}">Log Out</a>
				</div></li>
		</ul>

		<form class="form-inline my-2 my-lg-0" th:action="@{/search/input}"
			method="post">
			<div class="input-group">
				<input type="search" class="form-control" name="input" id="inputId"
					placeholder="Search for...">
				<div class="input-group-append">
					<button class="btn btn-default" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</nav>