<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/header :: common_header(~{::title},~{::link})">
<title>Sign In</title>
</head>

<body>
	<div class="container" style="max-width: 600px; margin-top: 50px">
		<h3 class="page-header">Sign in</h3>
		<div class="well">
			<form th:action="@{/login}" method="post">
				<div class="form-group">
					<label for="usernameId">Username</label> <input type="text"
						name="username" id="usernameId" class="form-control">
				</div>
				<div class="form-group">
					<label for="passwordId">Password</label> <input type="password"
						name="password" id="passwordId" class="form-control">
				</div>
				<p class="text-center">
					<button type="submit" class="btn btn-primary">Sign In</button>
				</p>
			</form>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>